.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

.cart-item img {
  border-radius: 8px;
}

.remove-btn {
    background-color: #dc4242;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
  background-color: #ff0000;
}

.checkout-btn {
  background-color: #4350a2;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.checkout-btn:hover {
  background-color: #1327a9;
}