.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

.cart-item img {
  border-radius: 8px;
}

.remove-btn {
    background-color: #dc4242;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
  background-color: #ff0000;
}

.checkout-btn {
  background-color: #4350a2;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.checkout-btn:hover {
  background-color: #1327a9;
}

.price-summary {
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid #ddd;
  max-width: 300px;
}

.price-summary p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.price-summary h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
}