.banner-container {
  padding: 20px;
}


.banner {
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.banner:hover img {
  transform: scale(1.05);
}


.large {
  height: 350px;
  margin-bottom: 20px;
}


.small-banners {
  display: flex;
  gap: 20px;
}

.small-banners .banner {
  flex: 1;
  height: 200px;
}


@media (max-width: 768px) {
  .small-banners {
    flex-direction: column;
  }
}